.navbar {
    font-size: 62.5%;
    background-color: $primary;
    height: 6.4em;
    z-index: 100;

    a {
        color: $white;
        font-size: 1.6em;
        line-height: 4em;
        padding: 2.2em 1.5em;
    }

    &__list {
        background-color: $primary;
    }

    &__list:hover {
        @include primaryHover();
    }

    &__list:hover  .navbar__drop-item {
        display: block;
    }

    &__item {
        display: flex;
    }

    &__start-right {
        margin-left: auto;
    }

    .menu {
        position: fixed;
        left:21.8em;
    }

    &__drop {
        position: relative;
        &-item {
            position: absolute;
            right: 0;
            width: 15em;
            display: none;
            a {
                display: block;
                padding: 0 2em;
            }
        }
    }

    &__fix {
        position: fixed;
        right: 0;
        left: 0;
    }

    .active {
        @include active();
    }
}