.sidebar {
    height: 100%;
    width: pxToRem(240);
    background-color: $dark-gray;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    &-fix {
        position: fixed;
    }

    .logo a {
        text-align: center;
        color: $primary;
        height: pxToRem(64);
    }

    a {
        color: $white;
        line-height: pxToRem(30);
        padding: pxToRem(10);
        display: block;
    }

    .active {
        background-color: $primary;
    }
    
    .sidebar-item a:hover {
        background-color: $primary;
        color: $white
    }
}