.btn {
    font-size: 1.5em;
    border-radius: .5em;
    padding: .7em 1em;
    outline: none;
    border: 0px;
    text-decoration: none;
    margin: 0 .5rem;

    &:hover {
        cursor: pointer;
    }


    &-primary {
        background-color: $primary;
        color: $white;
        &:hover {
            @include primaryHover();
        }
    }

    &-gray-i {
        background-color: $gray_iii;
        color: $white;
        &:hover {
            @include gray3Hover();
        }
    }

    &-danger {
        background-color: $danger;
        color: $white;
        &:hover {
            @include dangerHover();
        }
    }
}