.table {
    width: 100%;
    font-size: 1.6rem;
    color: $gray_v;
    border-collapse: collapse;

    &__center {
        text-align: center;
    }

    thead {
        font-weight: bold;
    }

    th, td {
        padding: .8rem 2rem;
    }

    &__bordered {
        th, td {
            border: .1rem solid $gray_iii;
        }
    }   
}