.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;

    .modal-transparent {
        position: inherit;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $light-gray;
        opacity: .5;
        z-index: 201;
    }

    .modal {
        z-index: 300;
        background-color: $white;
        min-width: pxToRem(400);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;

        &-danger {
            background-color: $danger;
            color: $white;
        }

        &-header {
            display: flex;
            align-items: center;
            height: pxToRem(50);
            padding: pxToRem(10);
            border-radius: 10px 10px 0px 0px;

            .btn-close {
                margin-left: auto;
            }
        }

        &-body {
            padding: pxToRem(20);
            max-height: pxToRem(450);
            overflow-x: scroll;
            .delete-icon {
                color: $danger;
                text-align: center;
                font-size: pxToRem(100);
            }
        }

        &-footer {
            background-color: $danger;
            border-radius: 0px 0px 10px 10px;
            padding: pxToRem(10);
            display: flex;
        
            & button:last-child {
                margin-left: auto;
            }
        }
    }
}