.vue-pagination {
    margin: 2em 1em;
    display: flex;

    ul li a {
        font-size: 1.6em;
    }

    &__right {
        justify-content: flex-end;
    }

    .page-link:hover {
        background-color: $primary !important;
        color: $white !important;
    }

    .active {
        background-color: $primary !important;
        color: $white !important;
    }
}