// fonts
.fnt-1pt6-em {
    font-size: 1.6em;
}

.flex {
  display: flex;
}

$paddings: 4em, 5em, 8em;

@each $padding in $paddings {
  .padding-#{$padding} {
    padding: $padding
  }
}

.view-only {
  border: 0px !important;
  background-color: inherit !important;
  border-bottom: 1px solid $primary !important;
  border-radius: 0px !important;
  outline: none !important;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.isDisabled > a {
  color: currentColor;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

.v-text-center {
  vertical-align: center
}

.m-top-20px {
  margin-top: pxToRem(20);
}

.m-10-all {
  margin: pxToRem(10);
}

.h-100 {
    height: pxToRem(100);
}

.w-100 {
  width: pxToRem(100);
}

.b-5-radius {
  border-radius: pxToRem(5);
}