* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

$primary: #FF6600;
$info: #6699FF;
$blue: #154890;
$gray_i: #F5EDE3;
$gray_ii: #E1D4C0;
$gray_iii: #CDBFAC;
$gray_v: #252525;
$danger: #FF0000;


html {
    font-weight: 100;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    a {
        text-decoration: none;
    }
}

h1 {
    font-size: 4rem;
    color: $gray_v;
}

h2 {
    font-size: 3rem;
    font-weight: normal;
    color: $gray_v;
}

p {
    font-size: 1.5rem;
    font-weight: 100;
    color: $gray_v;
}