@mixin primaryHover() {
    background-color: darken($primary, 5);
    a {
        color: $white;
    }
}

@mixin gray3Hover() {
    background-color: darken($gray_iii, 5);
    a {
        color: $white;
    }
}

@mixin dangerHover() {
    background-color: darken($danger, 5);
    a {
        color: $white;
    }
}

@mixin active() {
    background-color: darken($primary, 5);
    a {
        color: #fff !important;
    }
}